*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#ball{
    display: flex;
    position: absolute;
    top: 20px;
    left: 725px;
    width: 20px;
    height: 20px;
    background: black;
    border-radius:50px ;
    transition: all 0.050s;
}
.rod{
    display: flex;
    /* position: absolute; */
    width: 160px;
    height: 20px;
    border-radius:50px ;
    background: rgb(255, 0, 0);
    z-index: 999;
 }
 #rod1{
    position: absolute;
    top: 0;
    left: 650px;
 }
 #rod2{
    position: absolute;
    bottom: 0;
    left: 650px;
 }
 .instructions{
    z-index: -1;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(90, 86, 86);
    font-weight: 500;
    font-size: 20px;
    /* text-align: center; */
 }

 